%header
  = render "shares/header"
%main
  .regustratins-wrapper
    .regustratins-wrapper__form
      %h1 新規登録
      = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
        .field
          %p Artist name
          -if @user.errors.full_messages_for(:artistname)
            - @user.errors.full_messages_for(:artistname).each do |message|
              %span{class:"error_messages"}
                (この
                = message
                )
          = f.text_field :artistname, pattern: "^([a-zA-Z0-9｡-ﾟ -\/:-@\[-`\{-\~ぁ-ゞ一-龠｡-ﾟァ-ヶー　]{1,10})$", title: "10文字以内で入力して下さい。", placeholder: "例）Potatochip（10文字以内）", autofocus: true, autocomplete: "artistname", required: true
        .field
          %p Email
          -if @user.errors.full_messages_for(:email)[1]
            %span{class:"error_messages"}
              (この
              = @user.errors.full_messages_for(:email)[1]
              )
          = f.email_field :email, placeholder: "例）abc@abc.com", autofocus: true, autocomplete: "email", required: true
        .field
          %p Password
          = f.password_field :password,minlength: '８', pattern: "^([a-zA-Z0-9]{8,})$", title: "半角英字8文字以上で入力して下さい。", placeholder: "例）abc123（８文字以上）", autocomplete: "new-password", required: true
        .field
          = f.password_field :password_confirmation, placeholder: "確認用パスワード", autocomplete: "new-password", required: true
        = f.submit "登録する", id:"new__submit-btn"
      = render "devise/shared/links"
