#artist_show
  #artist_show__header
    %p{id: "artist_show__header__artist_name"} 
      = @user.artistname
    %h1{class:"heading"}
      GALLERIES
  #artist_show__main
    = render "shares/side"
    #artist_show__main__center
      #artist_show__main__center__home{class:"center_swicth"}
        #artist_information
          #artist_information__text
            %ul{id:"information__lists"}
              %li{class:"infomation_list", id:"information__lists__0"} 
                %p Name : 
                %span 
                  = @user.realname
              %li{class:"infomation_list", id:"information__lists__1"} 
                %p Age :
                %span 
                  = @user.age
              %li{class:"infomation_list", id:"information__lists__2"} 
                %p Profession :
                %span 
                  = @user.profession
              %li{class:"infomation_list", id:"information__lists__3"} 
                %p Birthplace : 
                %span 
                  = @user.birthplace
              %li{class:"infomation_list", id:"information__lists__4"} 
                %p ActivityBase : 
                %span 
                  = @user.activityBase
          #artist_information__image
            -if @user.image.present?
              = image_tag @user.image.url
            -else
              = image_tag "/images/sad.jpg"
        #artist_introduction
          #artist_introduction__box
            = @user.introduction
      #artist_show__main__center__galleries{class:"center_swicth"}
        #galleries_box
          .gallery{id:"gallery_0"}
            .gallery__image
              = image_tag "https://cdn.pixabay.com/photo/2020/04/17/09/16/fantasy-5053972_1280.jpg",id:"gallery__img_0"
            %p{class:"gallery__title"}
              アロンソ
          .gallery{id:"gallery_1"}
            .gallery__image
              = image_tag "https://cdn.pixabay.com/photo/2020/04/17/09/16/fantasy-5053972_1280.jpg",id:"gallery__img_1"
            %p{class:"gallery__title"}
              アロンソ
          .gallery{id:"gallery_2"}
            .gallery__image
              = image_tag "https://cdn.pixabay.com/photo/2020/04/17/09/16/fantasy-5053972_1280.jpg",id:"gallery__img_2"
            %p{class:"gallery__title"}
              アロンソ
          .gallery{id:"gallery_3"}
            .gallery__image
              = image_tag "https://cdn.pixabay.com/photo/2020/04/17/09/16/fantasy-5053972_1280.jpg",id:"gallery__img_3"
            %p{class:"gallery__title"}
              アロンソaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
          .gallery{id:"gallery_4"}
            .gallery__image
              = image_tag "https://cdn.pixabay.com/photo/2020/04/17/09/16/fantasy-5053972_1280.jpg",id:"gallery__img_4"
            %p{class:"gallery__title"}
              アロンソ
          .gallery{id:"gallery_5"}
            .gallery__image
              = image_tag "https://cdn.pixabay.com/photo/2020/04/17/09/16/fantasy-5053972_1280.jpg",id:"gallery__img_5"
            %p{class:"gallery__title"}
              アロンソ 
          .gallery{id:"gallery_6"}
            .gallery__image
              = image_tag "https://cdn.pixabay.com/photo/2020/04/17/09/16/fantasy-5053972_1280.jpg",id:"gallery__img_6"
            %p{class:"gallery__title"}
              アロンソ
          .gallery{id:"gallery_7"}
            .gallery__image
              = image_tag "https://cdn.pixabay.com/photo/2020/04/17/09/16/fantasy-5053972_1280.jpg",id:"gallery__img_7"
            %p{class:"gallery__title"}
              アロンソ
          .gallery{id:"gallery_8"}
            .gallery__image
              = image_tag "https://cdn.pixabay.com/photo/2020/04/17/09/16/fantasy-5053972_1280.jpg",id:"gallery__img_8"
            %p{class:"gallery__title"}
              アロンソ
          .gallery{id:"gallery_9"}
            .gallery__image
              = image_tag "https://cdn.pixabay.com/photo/2020/04/17/09/16/fantasy-5053972_1280.jpg",id:"gallery__img_9"
            %p{class:"gallery__title"}
              アロンソ
        =link_to new_gallery_path, id:"to_create" do
          Create Gallery
