#artist_show
  #artist_show__header
    %p{id: "artist_show__header__artist_name"} 
      = @user.artistname
    %h1{class:"heading"}
      GALLERIES
  #artist_show__main
    = render "shares/side"
    #artist_show__main__center
      #artist_show__main__center__home{class:"center_swicth"}
        #artist_information
          #artist_information__text
            %ul{id:"information__lists"}
              %li{class:"infomation_list", id:"information__lists__0"} 
                %p Name : 
                %span 
                  = @user.realname
              %li{class:"infomation_list", id:"information__lists__1"} 
                %p Age :
                %span 
                  = @user.age
              %li{class:"infomation_list", id:"information__lists__2"} 
                %p Profession :
                %span 
                  = @user.profession
              %li{class:"infomation_list", id:"information__lists__3"} 
                %p Birthplace : 
                %span 
                  = @user.birthplace
              %li{class:"infomation_list", id:"information__lists__4"} 
                %p ActivityBase : 
                %span 
                  = @user.activityBase
          #artist_information__image
            -if @user.image.present?
              = image_tag @user.image.url
            -else
              = image_tag "/images/sad.jpg"
        #artist_introduction
          #artist_introduction__box
            = @user.introduction
      #artist_show__main__center__galleries{class:"center_swicth"}
        #galleries_box
          -@galleries.each_with_index do |gallery,index|
            - firstImage = gallery.gallery_images.first
            .gallery{id:"gallery_#{index}",class:"for__delete_#{index}"}
              .gallery__btn
                -if user_signed_in?
                  -if gallery.user.id == current_user.id
                    =link_to gallery_path(gallery.id), data:"本当に『#{gallery.title}』を削除してよろしいですか？", method:"DELETE", remote: true, id:"delete_#{index}",class:"delete_btn" do
                      = icon "fas", "trash-alt",id:"trash"
                  -# =link_to edit_gallery_path(gallery.id) do
                  -#   = icon "fas", "edit", id:"edit"
              = link_to gallery_path(gallery.id), id:"show_link" do
                .gallery__image
                  -if firstImage.present? 
                    = image_tag firstImage.photo.url,id:"gallery__img_#{index}"
                %p{class:"gallery__title"}
                  = gallery.title
      #artist_show__main__center__news{class:"center_swicth"}
        -if @many_news.empty?
          %p{id:"none_news"} None News
        -@many_news.each do |news|
          #news_box
            %p{id:"news_box__date"}
              = news.date
            %p{id:"news_box__content"}
              = news.content
        -if user_signed_in?
          -if @user.id == current_user.id
            %p{id:"write_news"}
              Write news
              =icon 'fas','pencil-alt'
        #write_news_box
          = form_with model: @news, id:"write_news_box__form" ,local:true do |f|
            = f.text_field :date ,placeholder: "2020/12/31", maxlength: 10, pattern:"[0-9\x20/-]{1,10}", title: "半角数字10文字以内で入力してください。半角スペースや半角スラッシュ,半角ハイフンはお使いできます。", required: true
            = f.text_area :content  ,placeholder: "ご自由にお書き下さい。", required: true
            = f.submit value:"POST", id:"write_news_box__form__submit"
          %p{id:"cancel_btn"}×