#artist_show
  #artist_show__header
    %p{id: "artist_show__header__artist_name"} 
      = @user.artistname
    %h1{class:"heading"}
      GALLERIES
  #artist_show__main
    = render "shares/side"
    #artist_show__main__center
      #artist_show__main__center__home{class:"center_swicth"}
        #artist_information
          #artist_information__text
            %ul{id:"information__lists"}
              %li{class:"infomation_list", id:"information__lists__0"} 
                %p Name : 
                %span 
                  = @user.realname
              %li{class:"infomation_list", id:"information__lists__1"} 
                %p Age :
                %span 
                  = @user.age
              %li{class:"infomation_list", id:"information__lists__2"} 
                %p Profession :
                %span 
                  = @user.profession
              %li{class:"infomation_list", id:"information__lists__3"} 
                %p Birthplace : 
                %span 
                  = @user.birthplace
              %li{class:"infomation_list", id:"information__lists__4"} 
                %p ActivityBase : 
                %span 
                  = @user.activityBase
          #artist_information__image
            -if @user.image.present?
              = image_tag @user.image.url
            -else
              = image_tag "/images/sad.jpg"
        #artist_introduction
          #artist_introduction__box
            = @user.introduction
      #artist_show__main__center__galleries{class:"center_swicth"}
        #galleries_box
          -@galleries.each_with_index do |gallery,index|
            - firstImage = gallery.gallery_images.first
            = link_to gallery_path(gallery.id) ,id:"gallery_#{index}", class:"gallery" do
              .gallery__image
                -if firstImage.present? 
                  = image_tag firstImage.photo.url,id:"gallery__img_#{index}"
              %p{class:"gallery__title"}
                = gallery.title