%header
  = render "shares/header"
%main
  .home-index_wrapper
    .home-index_wrapper__slide
      %ul{class:"slide-show js-slider"}
        - @randomGalleries.each_with_index do |gallery, index|
          - firstImage = gallery.gallery_images.first
          %li{class:"slide" , id:"slide#{index}"}
            = link_to gallery_path(gallery.id) do
              .slide__contents
                .slide__contents__photo
                  = image_tag firstImage.photo.url
                .slide__contents__info
                  %p{class:"slide__contents__info__title"} 作品名
                  %p{class:"slide__contents__info__name"}
                    = gallery.title
                  %p{class:"slide__contents__info__artistname"}
                    %span
                      作者： 
                    = gallery.user.artistname
    .home-index_wrapper__container
      .new_users
        %p{class:"new_users__title"}
          New Artists
        .new_users__table
          = render partial: "new_user", collection: @new_users, as: "user"
      .new_arts
        %p{class:"new_arts__title"}
          New Arts
        .new_arts__table
          = render partial: "new_art", collection: @new_arts, as: "art"




